body {
	color:#fff;
	line-height:1.4;
	text-align:center;
	font-size:12pt;
	font-family:Calibri;
	background-color:rgba(34,34,34,1.0);
	background-image:url('img/bg.png');
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
}


.h1 {
	font-size:30pt;
	font-weight:bold;
	color:#00caff;
	text-shadow: 5px 5px 5px #000;
}

.h2 {
	font-size:15pt;
	font-weight:bold;
	color:#00caff;
	text-shadow: 5px 5px 5px #000;
}


a {
   color:#93e7fd;/*93e7fd*/
}

a:hover {
    color:#666;
}

.active-link {
	color: blue !important;
	font-weight: bold !important;
}
	
/*.table-form, .table-bs, td {
    border:1px solid orange;
}*/

.table-form {
	padding-right:10px;
	text-align:right;
	width:280px;
	vertical-align:top;
}

.table-bs {
	padding-left:10px;
	text-align:left;
	vertical-align:top;
	text-wrap:balance;
	width:560px;
}

.convert {
	width:90px;
	height:25px;
	text-align:center;
}

.div-left{
	float:left;
	padding-right:10px;
	text-align:right;
	width:48%;
}
.div-right{
	float:right;
	padding-left:10px;
	text-align:left;
	width:48%;
}

.warning {
    font-weight:bold;
    color:orange;
}

.bold {
    font-weight:bold;
}

.bold-ds {
	font-weight:bold !important;
	color:red;
	font-size:12pt;
}

.date {
	font-size:10pt;
	width:100%;
	margin-top:10px;
	display:inline-block;
}

hr {
	border:none;
	border-top:3pt dashed #555;
	margin-top:15px;
	margin-bottom:15px;
	margin-right:25%;
	margin-left:none;
	width:75%;
	float:left;
}

hr2 {
	border:none;
	border-top:3pt solid #555;
	margin-top:15px;
	margin-bottom:5px;
	margin-right:25%;
	margin-left:none;
	width:75%;
	float:left;
}

ul {
	margin:0%;
	padding0%;
}

.bottom {
	border:none;
	border-top:3px solid #555;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:10% !important;
	margin-right:10% !important;
	width:80% !important;
}
	
input {
    width:45px !important;
}

input[type="text"]:invalid {
   /*background-color:rgba(0,202,255,1);*/
background-color:rgba(147,231,253,1);
color:#FFF;
}

input[type="text"]:focus, input[type="text"]:valid {
    background-color:#333;
color:#fff;
}

::placeholder {
    color:#000;
}

input:focus::placeholder {
    color:#CCC;
}

.location {
	width:200px !important;
}

.reset {
    width:inherit !important;
    background-color:rgba(147,231,253,.75);
    color:#000;
	border-radius:5px;
	font-size:11pt;
	padding:3px;
}

select {
    width:110px;
}

input, select {
    background-color:rgba(147,231,253,1);
    color:#000;
    font-size:12pt;
    margin-bottom:8px;
    text-align:center;
}

textarea {
    background-color:rgba(69,69,69,0.75);
    color:#fff;
    font-family:Calibri;
	width:69%;
	height:30%;
}