body {
	color:#fff;
	line-height:1.4;
	text-align:center;
	font-size:12pt;
	font-family:Calibri;
	background-color:rgba(20,20,20,1.0);
	background-image:url('img/bg.png');
	background-attachment:fixed;
	background-position:center;
	background-repeat:no-repeat;
	background-size:30%;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


.h1 {
	font-size:30pt;
	font-weight:bold;
	color:#00caff;
	text-shadow: 5px 5px 5px #000;
}

.h2 {
	font-size:15pt;
	font-weight:bold;
	color:#00caff;
	text-shadow: 5px 5px 5px #000;
}


.header {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 2px;
	text-align: center;
	background-color:rgba(20,20,20,1.0);
	box-shadow: 0 12px 10px rgba(20,20,20,1); /* Blurred shadow effect */  
}

.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding-bottom:10px;
	text-align:center;
	vertical-align:middle;
	color:#00caff;
	text-shadow: 5px 5px 5px #000;
	background-color:rgba(20,20,20,1.0);
	box-shadow: 0 -12px 10px rgba(20,20,20,1); /* Blurred shadow effect */
}

.content {
            margin-top: 65px; /* Adjust according to the height of the header */
			margin-bottom:45px;
}



a {
   color:#93e7fd;/*93e7fd*/
}

a:hover {
    color:#666;
}

.active-link {
	color: blue !important;
	font-weight: bold !important;
}
	
/*.table-form, .table-bs, td {
    border:1px solid orange;
}*/

.table-form {
	padding-right:10px;
	text-align:right;
	width:20%;/*280*/
	vertical-align:top;
}

.table-bs {
	padding-left:10px;
	text-align:left;
	vertical-align:top;
	text-wrap:balance;
	width:40%;/*560*/
}

.convert {
	width:90px;
	height:25px;
	text-align:center;
}

.div-left{
	float:left;
	padding-right:10px;
	text-align:right;
	width:48%;
}
.div-right{
	float:right;
	padding-left:10px;
	text-align:left;
	width:48%;
}

.warning {
    font-weight:bold;
    color:orange;
}

.bold {
    font-weight:bold;
}

.bold-ds {
	font-weight:bold !important;
	color:red;
	font-size:12pt;
}

.small {
	font-size:10pt;
	width:100%;
	margin-top:10px;
	display:inline-block;
}

hr {
	border:none;
	border-top:3pt solid #FF6B00;
	margin-top:15px;
	margin-bottom:5px;
	margin-right:25%;
	margin-left:none;
	width:85%;
	float:left;
}

hr2 {
	border:none;
	border-top:2pt dashed #555;
	margin-top:5px;
	margin-bottom:5px;
	margin-left:25%;
	margin-right:none;
	width:85%;
	float:right;
}

ul {
	margin:0%;
}

.bottom {
	border:none;
	border-top:3pt solid #00caff;
	margin-top:15px;
	margin-bottom:15px;
	margin-left:10% !important;
	margin-right:10% !important;
	width:80% !important;
}
	
input {
    width:45px !important;
	border-radius:5px;
}


input[type="text"]:invalid {
   /*background-color:rgba(0,202,255,1);*/
background-color:rgba(147,231,253,1);
color:#FFF;
}

input[type="text"]:focus, input[type="text"]:valid {
    background-color:#333;
color:#fff;
}

::placeholder {
    color:#000;
}

input:focus::placeholder {
    color:#CCC;
}

.location {
	width:200px !important;
}

.button {
    width:inherit !important;
    color:#FFF;
    background-color:#000;
	border:2px solid #00caff !important;
	border-radius:5px;
	font-size:11pt;
	padding:5px;
	margin-top:10px
}
input:hover, select:hover {
	border:2px solid #FF6B00;
}

.button:hover {
	border-color:#FFF !important;
}
.button:focus {
	border-color:#93e7fd !important;
}

select {
    width:110px;
    background-color:rgba(147,231,253,1);
}

input, select {
    color:#000;
    font-size:12pt;
    margin-bottom:8px;
    text-align:center;
	border:2px solid #333;
	border-radius:5px;
}

textarea {
    background-color:rgba(69,69,69,0.75);
	border:2px solid #93e7fd;
	border-radius:5px;
	padding:5px;
    color:#FFF;
    font-family:Calibri;
	width:69%;
	height:30%;
}
textarea:focus {
	border:2px solid #93e7fd !important;
}

        #copy-container {
            display: flex;
        }

#r-copied, #l-copied {
	display: none; /* Start hidden */
    position:fixed;
	font-weight: bold;
	padding:5px;
	border-radius:5px;
	background-color:#FF6969;
	border:2px solid #FFF;
    justify-content: center;
    align-items: center;
    top:2%;
    left:5%;
    opacity: 0; /* Start fully transparent */
    transition: opacity 0.5s; /* Effect for fading in and out */
}